<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
         id="WebApp_ID" version="4.0">
  <display-name>320_ServletsAutenticacionFiltros</display-name>
  <welcome-file-list>
    <welcome-file>paginasHtml/login.html</welcome-file>
  </welcome-file-list>
  <!-- -
   -->
  <context-param>
	  <param-name>urlBD</param-name>
	  <param-value>124.56.46.35</param-value>
  </context-param>
  <context-param>
	  <param-name>gestorAutenticacion</param-name>
	  <param-value>qtx.autenticacion.web.GestorAutenticacionWeb</param-value>
  </context-param>
  <!-- -
   -->
  <servlet>
    <servlet-name>A_probadorHtmlBasico</servlet-name>
    <servlet-class>qtx.servlets.A_probadorHtmlBasico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A_probadorHtmlBasico</servlet-name>
    <url-pattern>/HtmlA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B_probadorCaracteresEspeciales</display-name>
    <servlet-name>B_probadorCaracteresEspeciales</servlet-name>
    <servlet-class>qtx.servlets.B_probadorCaracteresEspeciales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B_probadorCaracteresEspeciales</servlet-name>
    <url-pattern>/HtmlB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C_probadorDeListas</display-name>
    <servlet-name>C_probadorDeListas</servlet-name>
    <servlet-class>qtx.servlets.C_probadorDeListas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_probadorDeListas</servlet-name>
    <url-pattern>/HtmlC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>D_probadorDeListasMasElaboradas</display-name>
    <servlet-name>D_probadorDeListasMasElaboradas</servlet-name>
    <servlet-class>qtx.servlets.D_probadorDeListasMasElaboradas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D_probadorDeListasMasElaboradas</servlet-name>
    <url-pattern>/HtmlD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>E_probadorLinks</display-name>
    <servlet-name>E_probadorLinks</servlet-name>
    <servlet-class>qtx.servlets.E_probadorLinks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_probadorLinks</servlet-name>
    <url-pattern>/HtmlE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>F_probadorImagenes</display-name>
    <servlet-name>F_probadorImagenes</servlet-name>
    <servlet-class>qtx.servlets.F_probadorImagenes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F_probadorImagenes</servlet-name>
    <url-pattern>/HtmlF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>G_probadorMapaInteractivo</display-name>
    <servlet-name>G_probadorMapaInteractivo</servlet-name>
    <servlet-class>qtx.servlets.G_probadorMapaInteractivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_probadorMapaInteractivo</servlet-name>
    <url-pattern>/HtmlG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>G_probadorMapaInteractivoB</display-name>
    <servlet-name>G_probadorMapaInteractivoB</servlet-name>
    <servlet-class>qtx.servlets.G_probadorMapaInteractivoB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_probadorMapaInteractivoB</servlet-name>
    <url-pattern>/HtmlGB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>G_probadorMapaInteractivoC</display-name>
    <servlet-name>G_probadorMapaInteractivoC</servlet-name>
    <servlet-class>qtx.servlets.G_probadorMapaInteractivoC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>G_probadorMapaInteractivoC</servlet-name>
    <url-pattern>/HtmlGC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>H_probadorTablas</display-name>
    <servlet-name>H_probadorTablas</servlet-name>
    <servlet-class>qtx.servlets.H_probadorTablas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H_probadorTablas</servlet-name>
    <url-pattern>/HtmlH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>I_probadorCss</display-name>
    <servlet-name>I_probadorCss</servlet-name>
    <servlet-class>qtx.servlets.I_probadorCss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I_probadorCss</servlet-name>
    <url-pattern>/HtmlI</url-pattern>
  </servlet-mapping>
  <!-- -
   -->
  <listener>
    <listener-class>qtx.autenticacion.web.EscuchaCicloVidaContexto</listener-class>
  </listener>
  <filter>
    <display-name>FiltroPeticiones</display-name>
    <filter-name>FiltroPeticiones</filter-name>
    <filter-class>qtx.monitoreo.filtros.FiltroPeticiones</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroPeticiones</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroCensura</display-name>
    <filter-name>FiltroCensura</filter-name>
    <filter-class>qtx.monitoreo.filtros.FiltroCensura</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroCensura</filter-name>
    <url-pattern>/imagenes/*</url-pattern>
  </filter-mapping>
  <!-- -
   -->
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>qtx.autenticacion.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroAutenticacion</display-name>
    <filter-name>FiltroAutenticacion</filter-name>
    <filter-class>qtx.autenticacion.FiltroAutenticacion</filter-class>
    <init-param>
      <description></description>
      <param-name>paginaProtegida01</param-name>
      <param-value>/HtmlE</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>paginaProtegida02</param-name>
      <param-value>/HtmlF</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>paginaProtegida03</param-name>
      <param-value>/HtmlG</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAutenticacion</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>